input {
  text-align: center;
  border: none;
  background-color: rgba(253, 252, 252, 0.6);
  margin-top: 5px;
  border-radius: 3px;
  color: #001629;
}
.container-sm {
  background-image: linear-gradient(to top, #005a8e 0%, #001629 100%);
  padding: 1vw;
  font-family: "Play", sans-serif;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  max-width: 60%;
  min-width: 350px;
  border-radius: 3px;
}
.card {
  background-color: #001629 !important;
  border: solid 1.5px white !important;
  box-shadow: #fd7e4a 0 0 13px;
  padding-left: 0;
  padding-right: 0;
}
.card-img-overlay {
  padding: 0;
}
.header-card {
  display: block;
  margin: 0 auto;
}
.card-title-main {
  text-align: center;
  font-size: calc(1.1em + 3.5vw);
  text-shadow: #1a1a2e 0 3px 5px;
  margin-top: 2vw;
}
.location-search {
  margin-top: 5vw;
}
.location-search-form {
  text-align: center;
  font-size: 1.5vw;
  padding: 0;
  margin: 0;
}
#search-button {
  color: grey;
  transition: ease-in-out 200ms;
}
#search-button:hover {
  background-color: #fd7e4a;
  color: white;
}
.my-location {
  background-color: transparent;
  border: solid grey 1px;
  border: none;
  padding: 0;
}

.fa-map-marker-alt {
  color: white;
  font-size: calc(0.5em + 1.6vw);
  text-align: left;
}
.fa-map-marker-alt:hover {
  color: #fd7e4a;
}
.card-today {
  max-width: 60%;
  margin: 0 auto;
  padding: 0.5vw 0;
}
.card-title-one {
  text-align: center;
  font-size: calc(1em + 1.5vw);
  font-weight: 900;
  color: white;
  text-transform: capitalize;
}
.card-title-two {
  text-align: center;
  font-size: calc(0.8em + 1.5vw);
  color: white;
}
.card-body-one .card-body-two {
  padding: 0;
}
.time-and-date {
  text-align: center;
  font-size: calc(0.5em + 0.6vw);
  margin: 0;
  color: white;
}
.today-symbol {
  font-size: calc(1.2em + 2.5vw);
  padding-right: calc(0.5em + 0.5vw);
  color: white;
  text-align: right;
  margin-top: calc(0.2em + 0.4vw);
}
.temp {
  font-size: calc(1.2em + 2.5vw);
  color: white;
  padding: 0;
  text-align: left;
}
.weather-description {
  font-size: calc(0.5em + 0.7vw);
  color: white;
  text-align: center;
  margin: 0 auto;
}
.todays-forecast {
  font-size: calc(0.5em + 0.5vw);
  margin-bottom: 0;
  padding-bottom: 1vw;
  color: white;
  text-align: center;
}
.card-deck {
  margin-top: 15px;
}
@media screen and (max-width: 600px) {
  .card-title-three {
    font-size: 1em;
    margin-top: 0.5vw;
  }
  .location-search-form {
    text-align: center;
    font-size: 3vw;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 601px) {
  .card-title-three {
    font-size: 1.3vw;
    margin-top: 0.5vw;
  }
}
.col-2 {
  padding: 0;
}
.five-day-symbol {
  font-size: calc(1.3em + 1.5vw);
  -webkit-text-stroke: 1.5px #fd7e4a;
}
.five-day-temp {
  font-size: calc(0.8em + 0.1vw);
  color: #fd7e4a;
}
.five-day {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  max-width: 60%;
}
.day-link {
  color: #fd7e4a;
}

.more-info {
  color: white;
  text-align: center;
  font-size: calc(0.5em + 0.5vw);
  margin-top: 1vw;
  margin-bottom: 10px;
  display: block;
}
.more-info:hover {
  color: #fd7e4a;
}
.btn-group {
  color: white !important;
  transition: 200ms ease-in-out;
  display: block !important;
  margin: 0 auto !important;
}
.btn {
  color: white;
  border: solid white 1px;
  font-size: 14px;
  margin-bottom: 30px;
  width: 100px;
}

.feedback {
  font-size: calc(0.8em + 0.3vw);
  padding: 10 px 15 px;
  display: block;
  margin: 0 auto;
  background-color: #005a8e;
  border: solid #fd7e4a 1px;
  color: #fd7e4a;
  border-radius: 3px;
  box-shadow: #001629 0 0 10px;
  transition: 200ms ease-in-out;
}
.feedback:hover {
  background-color: #fd7e4a;
  color: white;
}
.footer {
  font-size: calc(1em + 0.2vw);
  text-align: center;
  margin: 10px 0 5px 0;
  color: #001629;
}
.linkedin,
.code-source {
  color: #001629;
}
.linkedin:hover,
.code-source:hover {
  color: white;
}
#today-description,
#current-weather-description {
  text-transform: capitalize;
}
